.carousel-container {
  .slick-dots {
    bottom: 25px;
  }

  .slick-prev {
    left: 25px !important;
    height: 50px;
    width: 50px;
    z-index: 5;
  }

  .slick-next {
    right: 25px !important;
    height: 50px;
    width: 50px;
    z-index: 5;
  }
}

.slide {
  height: 600px;
  background-image: url("./caraousel/school_p2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
