.carousel-container {
    .slide1 {
        background-image: url('./1.jpg');
        height: 100%;
    }
    .slide2 {
        background-image: url('./1.jpg');
        height: 100%;
    }
    .slide3 {
        background-image: url('./1.jpg');
        height: 100%;
    }

    .carousel-item {
        height: 650px;
    }
}