// Header
.header {
  height: 100%;
  display: block;
  position: sticky;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
  background-color: white;

  .navbar-brand {
    font-size: 50px !important;
    font-weight: 500;
    color: #a6474b;
  }
}

// Footer

.footer {
  background-color: #f58634;
  height: 100%;
  color: white;
  padding: 20px;
}

.divider {
  width: 85%;
  margin: 0 auto;
  border-top: 1px solid white;
  padding: 15px 0 0;
}
